@use '../../assets/styles/variables' as *;

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 24px; 
  width: 100%;
  max-width: 1120px;
  box-sizing: border-box;

  & > * {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
  }
}