@use '../../assets/styles/variables' as *;

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  box-sizing: border-box;
  text-decoration: none !important;

  &:hover {
    transform: scale(1.03);
    .title { 
      color: #7b61ff !important; 
    }
  }
}

.posterWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 266 / 357; 
  border-radius: 20px;
  overflow: hidden;
  background-color: #242426;
  display: block;
}

.poster {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
  width: 100%;
  text-decoration: none !important;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff !important; 
  text-decoration: none !important;
  margin: 0;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  transition: color 0.2s ease;
}

.meta {
  font-size: 14px;
  font-weight: 500;
  color: #7e7e82; 
  text-decoration: none !important;
  margin: 0;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}